input.collapser {
    display: none;
}

.wrap-collapsible {
    margin: 1.2rem 0;
}

.lbl-toggle {
    display: block;
    transition: all 0.25s ease-out;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 100%;
}

.new_val {
    color: black;
}

.old_val {
    color: darkred;
}

.unchanged_val {
    color: gray;
}

#main_form {
    padding-top: 2em
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

#main_buttons {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  background: #EFEFEF;
  z-index: 999;
  border: unset;
  border-bottom: 1px #AAA solid;
}

#main_buttons > * {
  padding: .5rem .6rem;
  display: inline-block;
  color: inherit;
}

#main_buttons > *:hover {
  background: #DDD;
  text-decoration: none;
}

button, input[type=submit] {
    border: none;
    font-weight: bold;
    color: white;
}

#main_buttons button[type=submit] {
    background: #F11;
    margin-left: 40px;
}

h2 {
    margin-top: 3rem;
    padding-top: 1rem;
}

input[type=checkbox] {
    scale: 1.3;
}

#changed_objects {
    margin: .5rem;
}

section:not(:last-child) {
    border-bottom: 1px #999 solid;
}
