<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8">
      <title>Nabor akcij</title>
</head>
<body>
    <h1>{{object.description}}</h1>
    <div><a href="{% url "apis_rilec:actionbatch_prune" pk=object.pk %}">Obreži</a></div>
    <div><a href="{% url "apis_rilec:actionbatch_apply" pk=object.pk %}">Izvedi</a></div>
    <div>
        {% for a in object.actions.all %}
        <h2>{{a.dn}}</h2>
        {{a.action}}
        <ul>
            {% for k, v in a.data.items %}
            <li>{{k}}: {{v}}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</body>
</html>
