{% extends "base.html" %}

{% block title %}Nabor objektov - {{obj}}{% endblock %}
{% block body %}
<h1>{{object}}</h1>
<div>
	<a href="{% url "apis_rilec:ldapobjectbatch_to_ldap" object.id %}">Zapiši vse v LDAP</a>
</div>
<div>
    Primerjaj s:
    {% if prev_rilec %}
    || <a href="{% url "apis_rilec:ldapobjectbatch_diff" object.id prev_rilec.id %}">Prejšnjimi iz SAP</a>
    {% endif %}
    {% if prev_ldap %}
    || <a href="{% url "apis_rilec:ldapobjectbatch_diff" object.id prev_ldap.id %}">Prejšnjimi iz LDAP</a>
    {% endif %}
    {% if prev_same %}
    || <a href="{% url "apis_rilec:ldapobjectbatch_diff" object.id prev_same.id %}">Prejšnjimi istega tipa</a>
    {% endif %}
</div>
<div>
<ul>
	{% for i in object.ldapobjects.all %}
	<li><a href="{{i.get_absolute_url}}">{{i.dn}} ({{i.source}}@{{i.timestamp}})</a></li>
	{% endfor %}
</ul>
</div>
{% endblock %}
