<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8">
      <title>Razlika</title>
</head>
<body>
    <a href="{% url "apis_rilec:ldapobject_list" %}">Nazaj na seznam</a>
    <div><h2>Dodani</h2>
        <ul>
        {% for obj in added_objs %}
          <li>{{ obj }}</li>
        {% endfor %}
        </ul>
    </div>
    <div><h2>Spremenjeni</h2>
        {% for obj in changed_objs %}
	<h3>{{obj.obj.dn}}</h3>
	<div>
	<h4>Spremenjeni</h4>
            {% for chfield in obj.changed %}
	<ul>
	    <li>{{ chfield.field }}: {{chfield.value}}</li>
        </ul>
            {% endfor %}
	</div>
	<div>
	<h4>Ignorirani</h4>
            {% for ignfield in obj.ignore %}
	<ul>
	    <li>{{ ignfield.field }}: {{ignfield.value}}</li>
        </ul>
            {% endfor %}
	</div>
	<div>
	<h4>Nespremenjeni</h4>
            {% for unchfield in obj.unchanged %}
	<ul>
	    <li>{{ unchfield.field }}: {{unchfield.value}}</li>
        </ul>
            {% endfor %}
	</div>

        {% endfor %}
    </div>
    <div><h2>Odstranjeni</h2>
        <ul>
        {% for obj in missing_objs %}
          <li>{{ obj }}</li>
        {% endfor %}
        </ul>
    </div>
    <div><h2>Nespremenjeni</h2>
        {% for obj in unchanged_objs %}
	<h3>{{obj.obj1.dn}}</h3>
	<div>
	<h4>Ignorirani</h4>
            {% for ignfield in obj.ignore %}
	<ul>
	    <li>{{ ignfield.field }}: {{ignfield.value}}</li>
        </ul>
            {% endfor %}
	</div>
	<div>
	<h4>Nespremenjeni</h4>
            {% for unchfield in obj.unchanged %}
	<ul>
	    <li>{{ unchfield.field }}: {{unchfield.value}}</li>
        </ul>
            {% endfor %}
	</div>

        {% endfor %}
    </div>

</body>
</html>
