{% extends "base.html" %}

{% block title %}Osebe{% endblock %}
{% block body %}
Osebe
<div>
<h2>Spremenjeni</h2>
<ul>
	{% for i in object_list %}
	{% if i.changed %}
	<li><a href="{{i.get_absolute_url}}">{{i.dn}} ({{i.source}}@{{i.timestamp}})</a></li>
	{% endif %}
	{% endfor %}
</ul>
</div>

<div>
<h2>Nespremenjeni</h2>
<ul>
	{% for i in object_list %}
	{% if not i.changed %}
	<li><a href="{{i.get_absolute_url}}">{{i.dn}} ({{i.source}}@{{i.timestamp}})</a></li>
	{% endif %}
	{% endfor %}
</ul>
</div>

{% endblock %}
