<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8">
      <title>Podrobnosti</title>
</head>
<body>
    <a href="{% url "apis_rilec:ldapobject_list" %}">Nazaj na seznam</a>
    <div>
	    <h1>{{object.dn}} ({{object.timestamp}} - {{object.source}})</h1>
        <h2>{{object.upn}}</h2>
        <h2><a href="{% url "apis_rilec:mergeduserdata_detail" object.uid %}">{{object.uid}}</a></h2>
    </div>
    <div>
        {% if object.previous_id is not None %}
	    <a href="{% url "apis_rilec:ldapobject_detail" object.previous_id %}">Starejši</a>
        {% endif %}
        {% if object.next_id is not None %}
	    <a href="{% url "apis_rilec:ldapobject_detail" object.next_id %}">Novejši</a>
        {% endif %}
    </div>
    <div>
        <h2>Dodana polja</h2>
        <ul>
        {% for field in added %}
        <li>
            {{field.field}}: {{field.value}}
        </li>
        {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Odstranjena/spremenjena polja</h2>
        <ul>
        {% for field in removed %}
        <li>
            {{field.field}}: {{field.value}}
        </li>
        {% endfor %}
        </ul>
    </div>
    <div>
    <h2>Vrednosti polj</h2>
    <ul>
        {% for field, values in object.field_dict.items %}
        <li>
            {{field}}: {{values}}
        </li>
        {% endfor %}
    </ul>
    </div>
</body>
</html>
