<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Razlika</title>
    <style>
    .new_val { color: black; }
    .old_val { color: darkred; }
    .unchanged_val { color: gray; }
    </style>
</head>
<body>
    <a href="{% url "apis_rilec:ldapobjectbatch_list" %}">Nazaj na seznam</a>
    <form method="post">{% csrf_token %}
        {% for i in add_batches %}<input type="hidden" name="badd" value="{{i}}">{% endfor %}
        {% for i in rm_batches %}<input type="hidden" name="brm" value="{{i}}">{% endfor %}
        <div id="main_buttons"><button formaction="{% url "apis_rilec:ldapobjectbatch_fields_to_ldap" %}" type="submit">Zapiši v LDAP</button></div>
        <div>
            <h2>Spremenjeni</h2>
            {% for obj in changed_objs %}
            <div>
                <h3><a href="{% url "apis_rilec:ldapobject_detail" obj.obj.id %}">{{ obj.obj.dn }} {{ obj.obj.upn }}</a></h3>
                <h4>Dodano</h4>
                {% for fieldname, fields in obj.in_this %}
                <ul>
                    <li>
                        <div>{{ fieldname }}:{% for f in fields %}<span class="new_val"><input type="checkbox" id="a{{obj.obj.id}}_{{f.id}}" name="fadd" value="{{obj.obj.id}}_{{f.id}}"><label for="a{{obj.obj.id}}_{{f.id}}">{{f.as_utf}}</label></span>{% endfor %}</div>
                    </li>
                </ul>
                {% endfor %}
                <h4>Spremenjeno</h4>
                {% for fieldname, fields in obj.changed_in_other %}
                <ul>
                    <li>
                        <div>{{ fieldname }}:{% for f in fields %}<span class="old_val"><input type="checkbox" id="r{{obj.obj.id}}_{{f.id}}" name="frm" value="{{obj.obj.id}}_{{f.id}}"><label for="r{{obj.obj.id}}_{{f.id}}">{{f.as_utf}}</label></span>{% endfor %}</div>
                    </li>
                </ul>
                {% endfor %}
                <h4>Odstranjeno</h4>
                {% for fieldname, fields in obj.only_in_other %}
                <ul>
                    <li>
                        <div>{{ fieldname }}:{% for f in fields %}<span class="old_val"><input type="checkbox" id="r{{obj.obj.id}}_{{f.id}}" name="frm" value="{{obj.obj.id}}_{{f.id}}"><label for="r{{obj.obj.id}}_{{f.id}}">{{f.as_utf}}</label></span>{% endfor %}</div>
                    </li>
                </ul>
                {% endfor %}
                <h4>Nespremenjeno</h4>
                {% for fieldname, fields in obj.in_both %}
                <ul>
                    <li>
                        <div>{{ fieldname }}:{% for f in fields %}<span class="unchanged_val"> {{f.as_utf}}</span>{% endfor %}</div>
                    </li>
                </ul>
                {% endfor %}
                <h4>Ignorirano</h4>
                {% for fieldname, fields in obj.ignored %}
                <ul>
                    <li>
                        <div>{{ fieldname }}:{% for f in fields %}<span class="unchanged_val"> {{f.as_utf}}</span>{% endfor %}</div>
                    </li>
                </ul>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
        <div>
            <h2>Dodani</h2>
            {% for obj in added_objs %}
            <h3>
                <input type="checkbox" id="a{{obj.id}}" name="objadd" value="{{obj.id}}"><label for="a{{obj.id}}">{{f.as_utf}}</label>
            <a href="{% url "apis_rilec:ldapobject_detail" obj.id %}">{{ obj }}</a></h3>
            <div>
                {% for field in obj.fields.all|dictsort:"field" %}
            <ul>
                <li>{{ field.field }}: {{field.as_utf}}</li>
            </ul>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div>
            <h2>Nespremenjeni</h2>
            {% for obj in unchanged_objs %}
            <div>
                <h3><a href="{% url "apis_rilec:ldapobject_detail" obj.obj.id %}">{{ obj.obj.dn }} {{ obj.obj.upn }}</a></h3>
                <h4>Dodano</h4>
                {% for fieldname, fields in obj.in_this %}
                <ul>
                    <li>
                        <div>{{ fieldname }}:{% for f in fields %}<span class="new_val"> {{f.as_utf}}</span>{% endfor %}</div>
                    </li>
                </ul>
                {% endfor %}
                <h4>Spremenjeno</h4>
                {% for fieldname, fields in obj.changed_in_other %}
                <ul>
                    <li>
                        <div>{{ fieldname }}:{% for f in fields %}<span class="old_val"> {{f.as_utf}}</span>{% endfor %}</div>
                    </li>
                </ul>
                {% endfor %}
                <h4>Odstranjeno</h4>
                {% for fieldname, fields in obj.only_in_other %}
                <ul>
                    <li>
                        <div>{{ fieldname }}:{% for f in fields %}<span class="old_val"> {{f.as_utf}}</span>{% endfor %}</div>
                    </li>
                </ul>
                {% endfor %}
                <h4>Nespremenjeno</h4>
                {% for fieldname, fields in obj.in_both %}
                <ul>
                    <li>
                        <div>{{ fieldname }}:{% for f in fields %}<span class="unchanged_val"> {{f.as_utf}}</span>{% endfor %}</div>
                    </li>
                </ul>
                {% endfor %}
                <h4>Ignorirano</h4>
                {% for fieldname, fields in obj.ignored %}
                <ul>
                    <li>
                        <div>{{ fieldname }}:{% for f in fields %}<span class="unchanged_val"> {{f.as_utf}}</span>{% endfor %}</div>
                    </li>
                </ul>
                {% endfor %}
            </div>
        {% endfor %}
        </div>

        <div>
            <h2>Odstranjeni</h2>
            <ul>
            {% for obj in missing_objs %}
            <li><input type="checkbox" id="r{{obj.id}}" value="{{obj.id}}_{{f.id}}" name="objrm"><label for="r{{obj.id}}">{{f.as_utf}}</label>
                <a href="{% url "apis_rilec:ldapobject_detail" obj.id %}">{{ obj }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </form> 
</body>
</html>
